.mat-card-image{
    width: 182px;
    height: 268px;
    display: block;
    margin: auto;
  
  }
  .corLinkMargem{
    // text-decoration: none;
    color: aliceblue;
    margin-left: 10px;
    
  }
  .corLinkMargem:hover{
    color: royalblue;
  }
 